/*GENERAL STYLES **********************************************/
#pos_perferences label {
    text-align: left;
}

.image_size{
    width: 215px !important;
}
.delete_default_customer{
    background: rgba(0, 0, 0, 0) url("../img/icons/delete.png") no-repeat scroll center center;
    padding: 10px;
}
#customer_autocomplete_input{
    background: url("../img/icons/search.png") no-repeat scroll center right #FFF;
    width: 215px;
}
#pos_default_customer .form-control-static
{
    padding-top: 10px;
}
.hide{
    display: none;
}
.checkbox{
    width: 100%;
}
.checkbox label{
    width: 100%;
    text-align: left;
}
.col-lg-9 {
    width: 55%;
    float: left;
}
.col-lg-3 {
    width: 45%;
    float: left;
}
.col-lg-offset-3 {
    margin-left: 20%;
}
#conf_id_product_visibility .margin-form{
    margin-top: 148px;
}
#conf_id_product_visibility .col-lg-9{
    padding-left: 1%;
}
.col-lg-5{
    padding-left: 18.7%;
}
#configuration_form_submit_btn{
    margin-top: 10px;
}
.col-lg-9 label{
    font-weight: normal;
    line-height: 150%;
}
.disabled_checkbox{
    opacity: 0.5;
}
.image_size {
    width: 250px !important;
}