@import url(http://fonts.googleapis.com/css?family=Dosis:400,800);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);

/** Screen controls **/

.fullscreen { width: 100%; height: 100% }
.fullscreen #header {display: none} 
.fullscreen #footer {display: none}


h2 span.date
{
	color: #3a97ff;
	font-family: dosis;
}

.control-body
{
	background-color: #dee0e5;
	margin-top: 55px;
	margin-left:-5px;
}

#customer_form
{
	margin-top: 85px;
}

.control-body fieldset
{
	background-color: #dee0e5;
	border: none;
	padding: 20px;
}

#content
{
	padding: 0;
}

.module-header
{
	background-color: #5d646d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6d757f), to(#535961));
	background-image: -webkit-linear-gradient(top, #6d757f, #535961);
	background-image:    -moz-linear-gradient(top, #6d757f, #535961);
	background-image:      -o-linear-gradient(top, #6d757f, #535961);
	background-image:         linear-gradient(to bottom, #6d757f, #535961);
	height: 60px;
	padding: 30px 20px 20px 40px;
}

.module-header .title-banner
{
	margin-top: 50%;
	padding: 15px;
	font-size: 40px;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-weight: bold;
	color: #6caef8;
	border-bottom-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-right-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	background-color: #5d646d;
	text-shadow: 3px 3px 2px #3D434B;
	border-bottom: 1px solid #AAAAAA;
}

.module-header .title-banner img
{
	vertical-align: top;
	margin-right: 20px;
	width: 60px;
	margin-right: 0;
}

.module-header .bluefoose-ui-button-dark
{
	float: right;
	-webkit-box-shadow: 
	0 1px 0 0 #2E2E2E, 0 2px 0 0 #5A616A, 0 3px 0 0 #151C25, 0 0 0 1px #353C45, 0 0 0 2px #525252, 0 0 0 3px #303740, 0 1px 0 3px #8D949D;
	box-shadow: 
	0 1px 0 0 #2E2E2E, 0 2px 0 0 #5A616A, 0 3px 0 0 #151C25, 0 0 0 1px #353C45, 0 0 0 2px #525252, 0 0 0 3px #303740, 0 1px 0 3px #8D949D;
}

.module-header .bluefoose-ui-button-dark label
{
	width: 160px;
}

/** Autocomplete **/ 

ul.ui-autocomplete .ui-menu-item a.ui-state-hover 
{
	margin: 0;
	cursor: pointer;
}

ul.ui-autocomplete .ui-menu-item a.ui-state-hover:hover
{
	color: black;
}

ul.ui-autocomplete .ui-menu-item:hover, .ui-menu .ui-menu-item a.ui-corner-all.ui-state-focus
{
	background-color: lightgrey;
}

/* Toggle */

llabel.ilabel {
	display:block;
	font-size:12px;
	padding-bottom:10px;
	cursor:pointer;
}
label.itoggle, label.itoggle span {
	padding:0;
	display: block;
	width: 50px;
	height: 24px;
	margin-bottom: 20px;
	background: url(../img/toggle2.png) left 50% no-repeat;
	cursor:pointer;
	text-indent:-5000px;
}
label.itoggle.iToff {
	background: url("../img/toggle2.png") no-repeat right 102%, url("../img/toggle2.png") no-repeat right 50% !important;
}

label.itoggle span {
	background-position: left top;
	margin: 0;
}

input.iT_checkbox {
	position:absolute;
	top:-9999px;
	left:-9999px;
}

label.toggleLabel
{
	display: inline-block;
	width: 180px;
	font-size: 12px;
}

/** Controls **/

.entra-row 
{
	color: #31aa00;
}

.sale-row 
{
	color: #ca352a;
}

.cashSpan, .ccSpan, .cajaSpan, .arrow-span
{
	background: url(../img/tpv_sprites.png) no-repeat top left transparent;
	height: 20px;
	display: block;
	padding-left:35px;
	width: calc(100% - 40px);
	padding-top: 5px;
}

.ccSpan
{
	background-position: 0 -33px;
}

.cajaSpan 
{
	background-position: 0 -63px;
}

.entra-row .arrow-span
{
	background-position: 0 -90px;
}

.sale-row .arrow-span
{
	background-position: 0 -114px;
}

.text-p
{
	font-family: Arial;
	font-weight: normal;
	text-shadow: 1px 1px 1px #FFFFFF;
	font-size: 18px;
}

.input-label 
{
	font-size: 1em; 
	width: 100% !important;	
	margin-bottom: 10px;
}	

.input-label.left-label
{ 
	text-align: left;
}

h2
{
	font-family: Dosis;
	font-weight: bold;
}

.widget-container
{
	background-color: #D0D3D7;
	border-radius: 10px;
	padding: 15px;
}

.calc-container 
{
	background-color: #F1F3F6;
	border: 1px solid #AAAAAA;
	border-radius: 10px;
	padding: 15px;
}

.calc-container tr, .calc-container td
{
	border: 0;
}
.calc-container td
{
	padding: 4px 6px;
}

table.price-table
{
	font-family: arial;
	border: none;
	border-collapse: collapse;
	min-width: 450px;
	width: 100%;
}

table.price-table tr
{
	border-bottom: 2px groove #a9afc0;
}

table.price-table tr.last-row, table.price-table tr.total-row, table.price-table tr.separator
{
	border: none;
}

table.price-table th
{
	background-color: #d4d6db;
	text-align: right;
	font-weight: normal;
	padding: 10px 10px 10px 0;
	width: 50%;
	font-size: 14px;
}

table.price-table td
{
	background-color: #a9afc0;
	text-align: left;
	font-weight: bold;
	color: white;
	padding-left: 10px;
	font-size: 15px;
	width: 50%;
}

table.price-table .total-row th
{
	border-top-left-radius: 10px;	
	border-bottom-left-radius: 10px;
	border: none;
	background-color: #858ca0;
	color:  #3e3f46;
	font-weight: bold;	
	font-size: 17px;
}

table.price-table .total-row td
{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	background-color: #57617e;
	color: #a0b9ff;
	font-size: 20px;
}

table.price-table .first-row th
{
	border-top-left-radius: 10px;
}

table.price-table .first-row td
{
	border-top-right-radius: 10px;
}

table.price-table .last-row th
{
	border-bottom-left-radius: 10px;
	border: none;
}

table.price-table .last-row td
{
	border-bottom-right-radius: 10px;
	border: none;
}

table.price-table .separator
{
	height: 6.5px;
}

.input-cell
{
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}

.input-cell input, .cellInput
{
	width: 75%;
	height: 15px;
	background-color: #f9fafb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#edeef0), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #edeef0, #ffffff);
	background-image:    -moz-linear-gradient(top, #edeef0, #ffffff);
	background-image:      -o-linear-gradient(top, #edeef0, #ffffff);
	background-image:         linear-gradient(to bottom, #edeef0, #ffffff);
	padding: 10px !important;
	font-size: 17px;
	text-align: right;
	color: #6176ab;
}

.cellInput
{
	width: 30%;
	border: 1px solid #AAA;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	padding-right: 15px !important;
}

.input-cell button
{
	height: 37px;
	width: 14.5%;
	margin-left: -5px;
	background-color: #e5e7ea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e7ea), to(#c4c5c8));
	background-image: -webkit-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:    -moz-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:      -o-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:         linear-gradient(to bottom, #e5e7ea, #c4c5c8);
	border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	border:1px solid #AAAAAA;
}

.input-cell button span:before
{
	font-size: 18px;
}

.order-container
{	
	margin:3px;
	min-width: 390px;
}

.order-container label
{
	text-align: left;
	width: 100%;
	font-weight: bold;
	font-family: Arial;
	margin: 0 0 5px 5px;
}

.order-container .selector, .order-container .selector select
{
	width: 150px !important;
}

.order-container .selector span
{
	width: 120px !important;
}

.order-container .selector
{
	clear: both;
}

table.product-table
{
	border-collapse:separate;
	border-spacing: 0;
}
table.product-table tr:first-child
{
	margin: 0;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.14);
	-moz-box-shadow:    0 4px 6px rgba(0, 0, 0, 0.14);
	box-shadow:         0 4px 6px rgba(0, 0, 0, 0.14);
}

table.product-table tr td
{
	padding: 10px 0 !important;
}

table.product-table tr td:first-child
{
	padding-left: 15px !important;
}

table.product-table tr td:last-child
{
	padding-right: 10px !important;
}

table.product-table tr:last-child td:first-child
{
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
}

table.product-table tr:last-child td:last-child
{	
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}

table.product-table tr:last-child td
{
	border-bottom: none;
	padding-bottom: 20px !important;
}

table.product-table th
{
	font-family: Arial;
	font-size: 12px;
	padding: 5px 5px 5px 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDEE1));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #DDDEE1);
	background-image: -moz-linear-gradient(top, #FFFFFF, #DDDEE1);
	background-image: -o-linear-gradient(top, #FFFFFF, #DDDEE1);
	background-image: linear-gradient(to bottom, #FFFFFF, #DDDEE1);
	border-color: #AAA;
	border-style: solid;
	border-width: 1px 0;
}

table.product-table th:first-child
{
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-left-width: 1px;
	padding-left: 5px;
}

table.product-table th:last-child
{
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-right-width: 1px;
}

table.product-table td
{
	background-color: #D0D3D7;
	font-size: 13px;
	font-family: Arial;
	border-bottom: 2px groove #D0D3D7;
}

table.product-table .input-cell input
{
	width: 30%;
}

table.product-table .input-cell button
{
	width: 30%;
}

table.product-table.cash-table th
{
	color: #797265;
}

table.product-table.cash-table td
{
	background-color: #e3cdae;
	border: none;
	color: #b4a493;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

table.product-table.cash-table td input.inputbox
{
	color: #b4a493;
	width: 70%;
	text-align: center;
	padding: 0 !important;
	height: 30px;
}

.product-table.cash-table tr:nth-child(2n) td
{
	background-color: #e3cdae;
}

.highlight-text
{
	font-weight: bold;
	font-size: 17px !important;
	padding-right: 0 !important;
}

table.product-table.cash-table   td.highlight-text
{
	color: #826843;
}

table.product-table.cash-table td.highlight-text span 
{
	background-color: #d2a360;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	width: 95%;
	text-align: center;
	display: block;
	padding: 5px 0;
	color: white;
}

	

input[type=text].inputbox:disabled
{
	color: rgb(66, 57, 57) !important;
}

input[type=text].inputbox.valid-product
{
	background-image: linear-gradient(to bottom, rgb(171, 224, 158), rgb(142, 221, 123));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(171, 224, 158)), to(rgb(142, 221, 123)));
	background-image: -webkit-linear-gradient(top, rgb(171, 224, 158), rgb(142, 221, 123));
	background-image: -moz-linear-gradient(top, rgb(171, 224, 158), rgb(142, 221, 123));
	background-image: -o-linear-gradient(top, rgb(171, 224, 158), rgb(142, 221, 123));
}

input[type=text].inputbox.not-valid-product
{
	background-image: linear-gradient(to bottom, rgb(255, 181, 174), rgb(255, 152, 142));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 181, 174)), to(rgb(255, 152, 142)));
	background-image: -webkit-linear-gradient(top, rgb(255, 181, 174), rgb(255, 152, 142));
	background-image: -moz-linear-gradient(top, rgb(255, 181, 174), rgb(255, 152, 142));
	background-image: -o-linear-gradient(top, rgb(255, 181, 174), rgb(255, 152, 142));
}

/* Form controls */

.numberButton
{
	font-weight: bold;
	font-size: 1em;
	width: 60px;
	height: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDEE1));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #DDDEE1);
	background-image: -moz-linear-gradient(top, #FFFFFF, #DDDEE1);
	background-image: -o-linear-gradient(top, #FFFFFF, #DDDEE1);
	background-image: linear-gradient(to bottom, #FFFFFF, #DDDEE1);
}

.numberButton.green 
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#B4E74C), to(#649700));
	background-image: -webkit-linear-gradient(top, #B4E74C, #649700);
	background-image: -moz-linear-gradient(top, #B4E74C, #649700);
	background-image: -o-linear-gradient(top, #B4E74C, #649700);
	background-image: linear-gradient(to bottom, #B4E74C, #649700);
	text-shadow: 2px 2px 1px #649700;
}

.numberButton.red
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fc7070), to(#A80F0F));
	background-image: -webkit-linear-gradient(top, #fc7070, #A80F0F);
	background-image: -moz-linear-gradient(top, #fc7070, #A80F0F);
	background-image: -o-linear-gradient(top, #fc7070, #A80F0F);
	background-image: linear-gradient(to bottom, #fc7070, #A80F0F);
	text-shadow: 2px 2px 1px #A80F0F;
}

.numberButton.green , .numberButton.red
{
	color: white;
	font-size: 1.3em;
}

.bluefoose-form {
	width: 430px;
}
* html .bluefoose-form {
	overflow-x: hidden;
}
.bluefoose-form form {
	display: inline-block;
	overflow: hidden;
}
.bluefoose-form form {
	display: block;
}
.bluefoose-form .select-radio {
	display: inline;
	float: left;
	margin-right: 10px;
	padding-right: 40px;
	width: 190px;
}
* html .bluefoose-form .select-radio {
	overflow-x: hidden;
}
.bluefoose-form .file-checkbox {
	display: inline;
	float: left;
	margin-right: 0;
	width: 190px;
}
* html .bluefoose-form .file-checkbox {
	overflow-x: hidden;
}
.bluefoose-form label {
	color: #555555;
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	line-height:18px;
}
/* Search bar styling */

#searchbox {
	position:relative;
	display:inline-block;
}
.inputbox {
	padding: 10px !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	width: 115px;
	height: 16px;
	color: #919496;
	background-color: #f9fafb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#edeef0), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #edeef0, #ffffff);
	background-image:    -moz-linear-gradient(top, #edeef0, #ffffff);
	background-image:      -o-linear-gradient(top, #edeef0, #ffffff);
	background-image:         linear-gradient(to bottom, #edeef0, #ffffff);
	border: 1px solid #fff;
	border-radius: 5px;
	-webkit-box-shadow: 
 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
	box-shadow: 
 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
}

.inputbox.numberInput
{
	font-size: 18px;
	color: #000;
	text-align: right;
}

.inputbox:focus {
	background:#fff;
}
.button-search {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background: url(../img/magnyfier.png) no-repeat;
	border:none;
	cursor: pointer;
	padding:0px;
	width:12px;
	height:12px;
	position:absolute;
	top:10px;
	right:10px;
}

.searchbox {
	padding: 7px 38px 7px 10px;
}
/* Classic inputs styling */

#contact-area {
	width: 430px;
}
#contact-area input, #contact-area textarea {
	width: 290px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px 0px 10px 0px;
}
#contact-area textarea {
	height: 90px;
}
#contact-area input.submit-button {
	cursor:pointer;
	width: 100px;
	float: right;
	margin-right:5px;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #657079;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	text-decoration:none;
	border-width: 1px;
	border-style: solid;
	border-color: #b1b3bc #a1a3ab #94969d #a1a3ab;
	border-radius: 5px;
	background-color: #e5e7ea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e7ea), to(#c4c5c8));
	background-image: -webkit-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:    -moz-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:      -o-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:         linear-gradient(to bottom, #e5e7ea, #c4c5c8);
	-webkit-box-shadow: 
 inset 0 1px 0 0 #ffffff, 0px 1px 0px 0px #bec1c5, 0px 2px 0px 0px #cdd0d5, 0px 3px 0px 0px #d1d3d8, 0px 0px 0px 1px #d0d3d7, 0px 0px 0px 2px #cbced2, 0px 0px 0px 3px #c5c7cc, 0px 1px 0px 3px #e7e9eb;
	box-shadow: 
 inset 0 1px 0 0 #ffffff, 0px 1px 0px 0px #bec1c5, 0px 2px 0px 0px #cdd0d5, 0px 3px 0px 0px #d1d3d8, 0px 0px 0px 1px #d0d3d7, 0px 0px 0px 2px #cbced2, 0px 0px 0px 3px #c5c7cc, 0px 1px 0px 3px #e7e9eb;
	padding: 7px 10px 7px 10px;
	text-align: center;
}
#contact-area input.submit-button:hover {
	color: #58626a;
	background-color: #f0f2f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f2f5), to(#d3d4d8));
	background-image: -webkit-linear-gradient(top, #f0f2f5, #d3d4d8);
	background-image:    -moz-linear-gradient(top, #f0f2f5, #d3d4d8);
	background-image:      -o-linear-gradient(top, #f0f2f5, #d3d4d8);
	background-image:         linear-gradient(to bottom, #f0f2f5, #d3d4d8);
}
#contact-area input.submit-button:active, #contact-area input.submit-button:focus {
	color: #58626a;
	background-color: #c4c5c8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c4c5c8), to(#e5e7ea));
	background-image: -webkit-linear-gradient(top, #c4c5c8, #e5e7ea);
	background-image:    -moz-linear-gradient(top, #c4c5c8, #e5e7ea);
	background-image:      -o-linear-gradient(top, #c4c5c8, #e5e7ea);
	background-image:         linear-gradient(to bottom, #c4c5c8, #e5e7ea);
	border-color: #93959d #a2a4ac #b0b3bc #a2a4ac;
	-webkit-box-shadow: 
 inset 0 1px 0 0 #d3d4d6, 0px 1px 0px 0px #dcdde1, 0px 2px 0px 0px #d1d3d8, 0px 3px 0px 0px #cbcdd1, 0px 0px 0px 1px #c9ccd0, 0px 0px 0px 2px #c2c5c9, 0px 0px 0px 3px #babcc0, 0px 1px 0px 3px #e9eaec;
	box-shadow: 
 inset 0 1px 0 0 #d3d4d6, 0px 1px 0px 0px #dcdde1, 0px 2px 0px 0px #d1d3d8, 0px 3px 0px 0px #cbcdd1, 0px 0px 0px 1px #c9ccd0, 0px 0px 0px 2px #c2c5c9, 0px 0px 0px 3px #babcc0, 0px 1px 0px 3px #e9eaec;
}
#contact-area label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 8px;
}

/* Buttons and Toolbars */

/* Spacing / Layout */

.ui-button.large-button
{
	padding: 0.8em 2em !important;
}

.ui-button.large-button .ui-button-text
{
	font-size: 18px;
}
.ui-button.large-button.elong-button  .ui-button-text
{
	padding: 0 10px;
}

.ui-button.special-button .ui-button-text
{
	font-size: 17px;
	padding: 5px 10px;
}

.bluefoose-ui-button-light.blue
{
	box-shadow:
		0 1px 0 0 #BEC1C5, 0 2px 0 0 #CDD0D5, 0 3px 0 0 #D1D3D8, 0 0 0 1px #D0D3D7, 0 0 0 2px #CBCED2, 0 0 0 3px #C5C7CC, 0 1px 0 3px #6e8bdd;
	-webkit-box-shadow: 
		0px 1px 0px 0px #bec1c5, 0px 2px 0px 0px #cdd0d5, 0px 3px 0px 0px #d1d3d8, 0px 0px 0px 1px #d0d3d7, 0px 0px 0px 2px #cbced2, 0px 0px 0px 3px #c5c7cc, 0px 1px 0px 3px #6e8bdd;
}

.bluefoose-ui-button-light.blue .ui-state-default {
	color: white;
	text-shadow: 0 1px 0 #20283f;
	font-weight: bold;
	background-color: #6d8adb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6d8adb), to(#445584));
	background-image: -webkit-linear-gradient(top, #6d8adb, #445584);
	background-image:    -moz-linear-gradient(top, #6d8adb, #445584);
	background-image:      -o-linear-gradient(top, #6d8adb, #445584);
	background-image:         linear-gradient(to bottom, #6d8adb, #445584);
	border-width: 1px;
	border-style: solid;
	border-color: #b1b3bc #a1a3ab #94969d #a1a3ab;
	border-right:none;
	-webkit-box-shadow: 
		inset 0 1px 0 0 #ffffff, inset 1px 0 1px 0 rgba(255, 255, 255, 0.6), inset -1px 0 1px 0 rgba(255, 255, 255, 0.6);
	box-shadow: 
		inset 0 1px 0 0 #ffffff, inset 1px 0 1px 0 rgba(255, 255, 255, 0.6), inset -1px 0 1px 0 rgba(255, 255, 255, 0.6);
}

.bluefoose-ui-button-light.blue .ui-state-hover, .bluefoose-ui-button-light.blue .ui-state-focus {
	color: white;
	font-weight: bold;
	background-color: #445584;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#445584), to(#1E2F5E));
	background-image: -webkit-linear-gradient(top, #445584, #1E2F5E);
	background-image:    -moz-linear-gradient(top, #445584, #1E2F5E);
	background-image:      -o-linear-gradient(top, #445584, #1E2F5E);
	background-image:         linear-gradient(to bottom, #445584, #1E2F5E);
}

.bluefoose-ui-button-light.blue .ui-state-active {
	color: white;
	font-weight: bold;
	background-color: #1E2F5E;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1E2F5E), to(#dbdbde));
	background-image: -webkit-linear-gradient(top, #1E2F5E, #445584);
	background-image:    -moz-linear-gradient(top, #1E2F5E, #445584);
	background-image:      -o-linear-gradient(top, #1E2F5E, #445584);
	background-image:         linear-gradient(to bottom, #1E2F5E, #445584);
	border-color: #8a8c92 #97999e #a8aaaf #97999e;
	-webkit-box-shadow: 
 inset 0 1px 0 0 #a7a8aa, 0px 3px 6px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px #c8cace;
	box-shadow: 
 inset 0 1px 0 0 #a7a8aa, 0px 3px 6px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px #c8cace;
}

.bluefoose-ui-button-light.green
{
	background:#D2FF6A;
	box-shadow:
		0 1px 0 0 #9BC833, 0 2px 0 0 #B3E04B, 0 3px 0 0 #A8D540, 0 0 0 1px #C9F061, 0 0 0 2px #B4DB4C, 0 0 0 3px #ACD344, 0 1px 0 3px #FFFFFF;
	-webkit-box-shadow: 
		0 1px 0 0 #9BC833, 0 2px 0 0 #B3E04B, 0 3px 0 0 #A8D540, 0 0 0 1px #C9F061, 0 0 0 2px #B4DB4C, 0 0 0 3px #ACD344, 0 1px 0 3px #FFFFFF;
}

.bluefoose-ui-button-light.green .ui-state-default
{
	color: white;
	background-color: #D2FF6A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D2FF6A), to(#6C9F23));
	background-image: -webkit-linear-gradient(top, #D2FF6A, #6C9F23);
	background-image: -moz-linear-gradient(top, #D2FF6A, #6C9F23);
	background-image: -o-linear-gradient(top, #D2FF6A, #6C9F23);
	background-image: linear-gradient(to bottom, #D2FF6A, #6C9F23);
	-webkit-box-shadow: 
		inset 0 1px 0 0 #ffffff, inset 1px 0 1px 0 rgba(255, 255, 255, 0.6), inset -1px 0 1px 0 rgba(255, 255, 255, 0.6);
	box-shadow: 
		inset 0 1px 0 0 #ffffff, inset 1px 0 1px 0 rgba(255, 255, 255, 0.6), inset -1px 0 1px 0 rgba(255, 255, 255, 0.6);
	text-shadow: 0 1px 0 #6C9F23;
}

.icon-button .ui-button-text
{
	position: relative;
	top: 2px;
}

.bluefoose-ui-button-light.green .ui-state-hover, .bluefoose-ui-button-light.green .ui-state-focus {
	color: white;
	font-weight: bold;
	background-color: #D2FF6A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D2FF6A), to(#336600));
	background-image: -webkit-linear-gradient(top, #D2FF6A, #336600);
	background-image:    -moz-linear-gradient(top, #D2FF6A, #336600);
	background-image:      -o-linear-gradient(top, #D2FF6A, #336600);
	background-image:         linear-gradient(to bottom, #D2FF6A, #336600);
}

.bluefoose-ui-button-light.green .ui-state-active {
	color: white;
	font-weight: bold;
	background-color: #D2FF6A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#336600), to(#D2FF6A));
	background-image: -webkit-linear-gradient(top, #336600, #D2FF6A);
	background-image:    -moz-linear-gradient(top, #336600, #D2FF6A);
	background-image:      -o-linear-gradient(top, #336600, #D2FF6A);
	background-image:         linear-gradient(to bottom, #336600, #D2FF6A);
	border-color: #8a8c92 #97999e #a8aaaf #97999e;
	-webkit-box-shadow: 
		inset 0 1px 0 0 #a7a8aa, 0px 3px 6px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px #336600;
	box-shadow: 
		inset 0 1px 0 0 #a7a8aa, 0px 3px 6px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px #336600;
}

.bluefoose-ui-button-light.orange
{
	background:#D2FF6A;
	box-shadow:
		0 1px 0 0 #B07607, 0 2px 0 0 #B47A1F, 0 3px 0 0 #C0862B, 0 0 0 1px #D3993E, 0 0 0 2px #DAA045, 0 0 0 3px #EFB55A, 0 1px 0 3px #FFFFFF;
	-webkit-box-shadow: 
		0 1px 0 0 #B07607, 0 2px 0 0 #B47A1F, 0 3px 0 0 #C0862B, 0 0 0 1px #D3993E, 0 0 0 2px #DAA045, 0 0 0 3px #EFB55A, 0 1px 0 3px #FFFFFF;
}

.bluefoose-ui-button-light.orange .ui-state-default
{
	color: white;
	background-color: #faae2a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#faae2a), to(#b07607));
	background-image: -webkit-linear-gradient(top, #faae2a, #b07607);
	background-image: -moz-linear-gradient(top, #faae2a, #b07607);
	background-image: -o-linear-gradient(top, #faae2a, #b07607);
	background-image: linear-gradient(to bottom, #faae2a, #b07607);
	-webkit-box-shadow: 
		inset 0 1px 0 0 #ffffff, inset 1px 0 1px 0 rgba(255, 255, 255, 0.6), inset -1px 0 1px 0 rgba(255, 255, 255, 0.6);
	box-shadow: 
		inset 0 1px 0 0 #ffffff, inset 1px 0 1px 0 rgba(255, 255, 255, 0.6), inset -1px 0 1px 0 rgba(255, 255, 255, 0.6);
	text-shadow: 0 1px 0 #b07607;
}

.bluefoose-ui-button-light.orange .ui-state-hover, .bluefoose-ui-button-light.orange .ui-state-focus {
	color: white;
	font-weight: bold;
	background-color: #faae2a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#faae2a), to(#8C5207));
	background-image: -webkit-linear-gradient(top, #faae2a, #8C5207);
	background-image:    -moz-linear-gradient(top, #faae2a, #8C5207);
	background-image:      -o-linear-gradient(top, #faae2a, #8C5207);
	background-image:         linear-gradient(to bottom, #faae2a, #8C5207);
}

.bluefoose-ui-button-light.orange .ui-state-active {
	color: white;
	font-weight: bold;
	background-color: #8C5207;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8C5207), to(#faae2a));
	background-image: -webkit-linear-gradient(top, #8C5207, #faae2a);
	background-image:    -moz-linear-gradient(top, #8C5207, #faae2a);
	background-image:      -o-linear-gradient(top, #8C5207, #faae2a);
	background-image:         linear-gradient(to bottom, #8C5207, #faae2a);
	border-color: #8a8c92 #97999e #a8aaaf #97999e;
	-webkit-box-shadow: 
		inset 0 1px 0 0 #a7a8aa, 0px 3px 6px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px #336600;
	box-shadow: 
		inset 0 1px 0 0 #a7a8aa, 0px 3px 6px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px #336600;
}

.ui-buttonset {
	font-size:12px;
	margin:0px;
	padding-right:0.35em;
	display: inline-block;
	border-radius: 5px;
}
/* Light style */
.bluefoose-ui-button-light {
	background:#bec1c5;
	-webkit-box-shadow: 
 0px 1px 0px 0px #bec1c5, 0px 2px 0px 0px #cdd0d5, 0px 3px 0px 0px #d1d3d8, 0px 0px 0px 1px #d0d3d7, 0px 0px 0px 2px #cbced2, 0px 0px 0px 3px #c5c7cc, 0px 1px 0px 3px #e7e9eb;
	box-shadow: 
 0px 1px 0px 0px #bec1c5, 0px 2px 0px 0px #cdd0d5, 0px 3px 0px 0px #d1d3d8, 0px 0px 0px 1px #d0d3d7, 0px 0px 0px 2px #cbced2, 0px 0px 0px 3px #c5c7cc, 0px 1px 0px 3px #e7e9eb;
	display:inline-block;
	border-radius: 5px;
}
/* Dark style */
.bluefoose-ui-button-dark {
	background:#9c9da1;
	-webkit-box-shadow: 
 0px 1px 0px 0px #9c9da1, 0px 2px 0px 0px #c0c1c6, 0px 3px 0px 0px #cbcdd1, 0px 0px 0px 1px #c9ccd0, 0px 0px 0px 2px #c2c5c9, 0px 0px 0px 3px #babcc0, 0px 1px 0px 3px #e9eaec;
	box-shadow: 
 0px 1px 0px 0px #9c9da1, 0px 2px 0px 0px #c0c1c6, 0px 3px 0px 0px #cbcdd1, 0px 0px 0px 1px #c9ccd0, 0px 0px 0px 2px #c2c5c9, 0px 0px 0px 3px #babcc0, 0px 1px 0px 3px #e9eaec;
	display:inline-block;
	border-radius: 5px;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-button-text-only .ui-button-text {
	padding: 7px 10px 7px 10px;
}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
	padding: 7px 10px 7px 25px;
}
.ui-button-text-icons .ui-button-text {
	padding: 7px 25px 7px 25px;
}
.ui-button .ui-button-text {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	display: block;
	line-height: 14px;
}
.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	margin:0;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
	vertical-align: bottom;
}
/* the overflow property removes extra width in IE */

.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -0.3em;
}

.ui-buttonset label.ui-button {
	margin-left: 0;
	margin-right: -0.35em;
}

/* Active / Hover / Default style */
.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
	text-decoration: none;
}
/* Light style */
.bluefoose-ui-button-light .ui-state-default {
	color: #657079;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	font-weight: normal;
	background-color: #e5e7ea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e7ea), to(#c4c5c8));
	background-image: -webkit-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:    -moz-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:      -o-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:         linear-gradient(to bottom, #e5e7ea, #c4c5c8);
	border-width: 1px;
	border-style: solid;
	border-color: #b1b3bc #a1a3ab #94969d #a1a3ab;
	border-right:none;
	-webkit-box-shadow: 
 inset 0 1px 0 0 #ffffff, inset 1px 0 1px 0 rgba(255, 255, 255, 0.6), inset -1px 0 1px 0 rgba(255, 255, 255, 0.6);
	box-shadow: 
 inset 0 1px 0 0 #ffffff, inset 1px 0 1px 0 rgba(255, 255, 255, 0.6), inset -1px 0 1px 0 rgba(255, 255, 255, 0.6);
}
.bluefoose-ui-button-light .ui-state-hover, .bluefoose-ui-button-light .ui-state-focus {
	color: #58626a;
	font-weight: normal;
	background-color: #f0f2f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f2f5), to(#d3d4d8));
	background-image: -webkit-linear-gradient(top, #f0f2f5, #d3d4d8);
	background-image:    -moz-linear-gradient(top, #f0f2f5, #d3d4d8);
	background-image:      -o-linear-gradient(top, #f0f2f5, #d3d4d8);
	background-image:         linear-gradient(to bottom, #f0f2f5, #d3d4d8);
}
.bluefoose-ui-button-light .ui-state-active {
	color: #58626a;
	font-weight: normal;
	background-color: #c3c4c7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c3c4c7), to(#dbdbde));
	background-image: -webkit-linear-gradient(top, #c3c4c7, #dbdbde);
	background-image:    -moz-linear-gradient(top, #c3c4c7, #dbdbde);
	background-image:      -o-linear-gradient(top, #c3c4c7, #dbdbde);
	background-image:         linear-gradient(to bottom, #c3c4c7, #dbdbde);
	border-color: #8a8c92 #97999e #a8aaaf #97999e;
	-webkit-box-shadow: 
 inset 0 1px 0 0 #a7a8aa, 0px 3px 6px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px #c8cace;
	box-shadow: 
 inset 0 1px 0 0 #a7a8aa, 0px 3px 6px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px #c8cace;
}
/* Dark style */
.bluefoose-ui-button-dark .ui-state-default {
	color: #ebebeb;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
	font-weight: normal;
	background-color: #6d757f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6d757f), to(#535961));
	background-image: -webkit-linear-gradient(top, #6d757f, #535961);
	background-image:    -moz-linear-gradient(top, #6d757f, #535961);
	background-image:      -o-linear-gradient(top, #6d757f, #535961);
	background-image:         linear-gradient(to bottom, #6d757f, #535961);
	border-width: 1px;
	border-style: solid;
	border-color: #54585d #494d52 #3d4146 #494d52;
	border-right:none;
	-webkit-box-shadow: 
 inset 0 1px 0 0 #858f9b, inset 1px 0 1px 0 rgba(255, 255, 255, 0.2), inset -1px 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: 
 inset 0 1px 0 0 #858f9b, inset 1px 0 1px 0 rgba(255, 255, 255, 0.2), inset -1px 0 1px 0 rgba(255, 255, 255, 0.2);
}
.bluefoose-ui-button-dark .ui-state-hover, .bluefoose-ui-button-dark .ui-state-focus {
	color: #ffffff;
	font-weight: normal;
	background-color: #78808a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#78808a), to(#5f656e));
	background-image: -webkit-linear-gradient(top, #78808a, #5f656e);
	background-image:    -moz-linear-gradient(top, #78808a, #5f656e);
	background-image:      -o-linear-gradient(top, #78808a, #5f656e);
	background-image:         linear-gradient(to bottom, #78808a, #5f656e);
}
.bluefoose-ui-button-dark .ui-state-active {
	color: #ffffff;
	font-weight: normal;
	background-color: #535963;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#535963), to(#6d757f));
	background-image: -webkit-linear-gradient(top, #535963, #6d757f);
	background-image:    -moz-linear-gradient(top, #535963, #6d757f);
	background-image:      -o-linear-gradient(top, #535963, #6d757f);
	background-image:         linear-gradient(to bottom, #535963, #6d757f);
	border-color: #54585d #484c51 #3d4146 #484c51;
	-webkit-box-shadow: 
 inset 0 1px 0 0 #535961, 0px 5px 10px 0px rgba(0, 0, 0, 0.25) inset, 0px 1px 0px 0px #9a9a9e;
	box-shadow: 
 inset 0 1px 0 0 #535961, 0px 5px 10px 0px rgba(0, 0, 0, 0.25) inset, 0px 1px 0px 0px #9a9a9e;
}
/* Border radius */
.ui-buttonset .ui-corner-left {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.ui-buttonset .ui-corner-right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.bluefoose-ui-button-light .ui-corner-right {
	border-right: 1px solid #a1a3ab;
}
.bluefoose-ui-button-dark .ui-corner-right {
	border-right: 1px solid #3c4045;
}
.bluefoose-ui-button-light .ui-corner-all {
	border-right: 1px solid #a1a3ab;
	border-radius: 5px;
}
.bluefoose-ui-button-dark .ui-corner-all {
	border-right: 1px solid #3c4045;
	border-radius: 5px;
}
/* Icons */

.bluefoose-ui-button-light .ui-icon {
	color:#5c646b;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
}
.bluefoose-ui-button-dark .ui-icon {
	color:#e2e1e2;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
	margin-top: -7px;
	position: absolute;
	top: 50%;
	font-size:14px;
	line-height:14px;
}
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
	left: 0.5em;
}
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}
button.ui-button-icons-only {
	width: 4em;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	/*margin-left: -6px;*/
}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
	padding: 14px 15px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
.ui-button-icon-only .ui-icon, .ui-button-icons-only .ui-icon {
}
/* Split button */

.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu {
	position: absolute;
	width: 100px;
	z-index:100;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 5px 0px;
	zoom: 1;
	width: 100%;
	padding: 0;
}
.ui-menu .ui-menu-item a.ui-corner-all {
	font-size:12px;
	border:none;
	color: #a3a5a7;
	text-decoration:none;
	background:none;
	display: block;
	zoom: 1;
	font-weight: normal;
	padding: 10px 0;
}
.ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu .ui-menu-item a.ui-corner-all.ui-state-focus {
	color: #7d8082;
}
.bluefoose-ui-button-light ul.ui-widget-content, .bluefoose-ui-button-dark ul.ui-widget-content {
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	border: 1px solid #AAA;
	background: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: rgb(255, 255, 255); /* The Fallback */
	background-color: rgba(255, 255, 255, 0.90);
	color: #a3a5a7;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

/* Tabs */
.ui-tabs {
	position: relative;
	padding: 2px 3px 3px 3px;
	zoom: 1;
	background-color: #d0d3d7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d3d7), to(#d9dce1));
	background-image: -webkit-linear-gradient(top, #d0d3d7, #d9dce1);
	background-image:    -moz-linear-gradient(top, #d0d3d7, #d9dce1);
	background-image:      -o-linear-gradient(top, #d0d3d7, #d9dce1);
	background-image:         linear-gradient(to bottom, #d0d3d7, #d9dce1);
	border-width: 1px;
	border-style: solid;
	border-color: #c5c7cc #ced1d5 #eff0f3 #ced1d5;
}
/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding:0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	border-width: 1px;
	border-style: solid;
	border-color: #babdc7 #aaadb5 #9da0a7 #aaadb5;
	border-top:none;
	background:#f1f3f6;
	-webkit-box-shadow: 
 inset 0 1px 0 0 #ffffff, 0px 1px 1px 0px rgba(7, 4, 6, 0.15);
	box-shadow: 
 inset 0 1px 0 0 #ffffff, 0px 1px 1px 0px rgba(7, 4, 6, 0.15);
}
/* Light style */
.bluefoose-ui-tabs-light .ui-state-default {
	color: #657079;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	font-weight: normal;
	background-color: #e5e7ea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e7ea), to(#c4c5c8));
	background-image: -webkit-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:    -moz-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:      -o-linear-gradient(top, #e5e7ea, #c4c5c8);
	background-image:         linear-gradient(to bottom, #e5e7ea, #c4c5c8);
	border-width: 1px;
	border-style: solid;
	border-color: #b1b3bc #a1a3ab #94969d #a1a3ab;
	-webkit-box-shadow: 
 inset 0 1px 0 0 #ffffff;
	box-shadow: 
 inset 0 1px 0 0 #ffffff;
}
.bluefoose-ui-tabs-light .ui-state-default a {
	color: #657079;
}
.bluefoose-ui-tabs-light .ui-state-hover, .bluefoose-ui-tabs-light .ui-state-focus {
	color: #58626a;
	font-weight: normal;
	background-color: #f0f2f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f2f5), to(#d3d4d8));
	background-image: -webkit-linear-gradient(top, #f0f2f5, #d3d4d8);
	background-image:    -moz-linear-gradient(top, #f0f2f5, #d3d4d8);
	background-image:      -o-linear-gradient(top, #f0f2f5, #d3d4d8);
	background-image:         linear-gradient(to bottom, #f0f2f5, #d3d4d8);
}
.bluefoose-ui-tabs-light .ui-state-hover a, .bluefoose-ui-tabs-light .ui-state-focus a {
	color: #58626a;
}
.bluefoose-ui-tabs-light .ui-state-active {
	color: #58626a;
	font-weight: normal;
	background: #f1f3f6;
}
.bluefoose-ui-tabs-light .ui-state-active a {
	color: #58626a;
}
/* Dark style */
.bluefoose-ui-tabs-dark .ui-state-default {
	color: #ebebeb;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
	font-weight: normal;
	background-color: #6d757f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6d757f), to(#535961));
	background-image: -webkit-linear-gradient(top, #6d757f, #535961);
	background-image:    -moz-linear-gradient(top, #6d757f, #535961);
	background-image:      -o-linear-gradient(top, #6d757f, #535961);
	background-image:         linear-gradient(to bottom, #6d757f, #535961);
	border-width: 1px;
	border-style: solid;
	border-color: #54585d #494d52 #3d4146 #494d52;
	-webkit-box-shadow: 
 inset 0 1px 0 0 #858f9b;
	box-shadow: 
 inset 0 1px 0 0 #858f9b;
}
.bluefoose-ui-tabs-dark .ui-state-default a {
	color: #ebebeb;
}
.bluefoose-ui-tabs-dark .ui-state-hover, .bluefoose-ui-tabs-dark .ui-state-focus {
	color: #ffffff;
	font-weight: normal;
	background-color: #78808a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#78808a), to(#5f656e));
	background-image: -webkit-linear-gradient(top, #78808a, #5f656e);
	background-image:    -moz-linear-gradient(top, #78808a, #5f656e);
	background-image:      -o-linear-gradient(top, #78808a, #5f656e);
	background-image:         linear-gradient(to bottom, #78808a, #5f656e);
}
.bluefoose-ui-tabs-dark .ui-state-hover a, .bluefoose-ui-tabs-dark .ui-state-focus a {
	color: #ffffff;
}
.bluefoose-ui-tabs-dark .ui-state-active {
	color: #58626a;
	font-weight: normal;
	background: #f1f3f6;
	border-width: 1px;
	border-style: solid;
	border-color: #b1b3bc #a1a3ab #94969d #a1a3ab;
	-webkit-box-shadow: 
 inset 0 1px 0 0 #ffffff, inset 1px 0 1px 0 rgba(255, 255, 255, 0.6), inset -1px 0 1px 0 rgba(255, 255, 255, 0.6);
	box-shadow: 
 inset 0 1px 0 0 #ffffff, inset 1px 0 1px 0 rgba(255, 255, 255, 0.6), inset -1px 0 1px 0 rgba(255, 255, 255, 0.6);
}
.bluefoose-ui-tabs-dark .ui-state-active a {
	color: #58626a;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
}


/* Mini button general
*******************************************************************************/

		.mini-btn{
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			text-decoration: none;
				width: 18px;
				height: 18px;
				cursor:pointer;
		}
		
		.mini-btn span{
			display:block;
				width: 18px;
				height: 18px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
}
	
	/* Mini button light style
*******************************************************************************/
		
	.mini-btn-light{
	background-color: #d5d7da;
	background-image:  -webkit-gradient(linear, left top, left bottom, from(#e3e5e8), to(#c4c5c8));
	background-image:  -webkit-linear-gradient(top, #e3e5e8, #c4c5c8);
	background-image:  -moz-linear-gradient(top, #e3e5e8, #c4c5c8);
	background-image:  -o-linear-gradient(top, #e3e5e8, #c4c5c8);
	background-image:  linear-gradient(to bottom, #e3e5e8, #c4c5c8);
		border-width: 1px;
		border-style: solid;
		border-color: #b0b3bc #b0b3bc #95979e #b0b3bc;
		text-shadow:0px 1px 0px rgba(255, 255, 255, 0.60);
	-webkit-box-shadow: 
 inset 0px 1px 0px 0px rgba(250, 250, 250, .9),  0px 1px 1px 0px rgba(0, 0, 0, .1);
	box-shadow: 
 inset 0px 1px 0px 0px rgba(250, 250, 250, .9),  0px 1px 1px 0px rgba(0, 0, 0, .1);
	}
	
		/* Mini button dark style
*******************************************************************************/

	.mini-btn-dark{
		border-width: 1px;
		border-style: solid;
	border-color: #62666c #505459 #3f4348 #505459;
	background-color: #6c737d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6c737d), to(#545b63));
	background-image: -webkit-linear-gradient(top, #6c737d, #545b63);
	background-image: 	-moz-linear-gradient(top, #6c737d, #545b63);
	background-image:	 -o-linear-gradient(top, #6c737d, #545b63);
	background-image: 		linear-gradient(to bottom, #6c737d, #545b63);
		text-shadow:0px 1px 0px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 
 inset 0px 1px 0px 0px rgba(250, 250, 250, .2),  0px 1px 1px 0px rgba(0, 0, 0, .3);
	box-shadow: 
 inset 0px 1px 0px 0px rgba(250, 250, 250, .2),  0px 1px 1px 0px rgba(0, 0, 0, .3);
	}

		/* Icons
*******************************************************************************/

.mini-btn-light .btn-icon-close {
	background-image:url(../img/close-light.png);
}
.mini-btn-dark .btn-icon-close {
	background-image:url(../img/close-dark.png);
}
.mini-btn-light .btn-icon-plus {
	background-image:url(../img/plus-light.png);
}
.mini-btn-dark .btn-icon-plus {
	background-image:url(../img/plus-dark.png);
}
.mini-btn-light .btn-icon-minus {
	background-image:url(../img/minus-light.png);
}
.mini-btn-dark .btn-icon-minus {
	background-image:url(../img/minus-dark.png);
}


/* Update to 1.6 */
.djvoc_upProductQuantity
{
	position: absolute;
	top:0;
	padding:0;
}

.djvoc_downProductQuantity
{
	margin-top: 18px;
	padding: 0;
}

label.label-caja
{
	text-align: left;
	width: 25%;
}


.tbl_end_order td
{
	padding: 0 10px;
}